.tooltip-edit {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);

    svg {
        width: 16px;
        height: 16px;
        fill: white;

        &:hover {
            fill: coral;
        }
    }

    .popup {
        position: absolute;
        padding: 20px;
        background-color: bisque;
        color: black;
        right: 28px;
        margin-top: 25px;

        .rowx {
            display: flex;
            gap: 20px;
        }
    }
}